@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto:wght@100&family=Source+Sans+Pro:wght@400;600;700;900&family=Ubuntu&display=swap');

#helloPresdient {
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
    /* display: none; */
  }
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes fadeOut {
    100% {opacity:1;}
    0% {opacity:0;}
}

@-moz-keyframes fadeOut {
    100% {opacity:1;}
    0% {opacity:0;}
}

@-webkit-keyframes fadeOut {
    100% {opacity:1;}
    0% {opacity:0;}
}

@-o-keyframes fadeOut {
    100% {opacity:1;}
    0% {opacity:0;}
}

@-ms-keyframes fadeOut {
    100% {opacity:1;}
    0% {opacity:0;}
}